# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/hotelSelection-backend/src/main/resources/static/
/flightSelection-backend/src/main/resources/static/
