<div>
    <h2>{{'select-hotel.heading' | transloco}}</h2>
    <form [formGroup]="formGroup">
    <mat-form-field class="form-field">
        <mat-label>{{'select-hotel.city' | transloco}}</mat-label>
        <mat-select [formControlName]="ControlName.City">          
          @for (myCity of cities; track myCity) {
        <mat-option [value]="myCity">{{myCity}}</mat-option>
      }
        </mat-select>        
    </mat-form-field>
    <br/>
    <mat-form-field class="form-field">
        <mat-label>{{'select-hotel.hotel' | transloco}}</mat-label>
        <mat-select [formControlName]="ControlName.Hotel">          
          @for (myHotel of hotels; track myHotel) {
        <mat-option [value]="myHotel.id">{{myHotel.hotelName}}</mat-option>
      }
        </mat-select>        
    </mat-form-field>
    <br/>
    <div class="buttons">
    <button mat-raised-button (click)="bookHotel()" [disabled]="formGroup.invalid || formGroup.pristine">{{'book' | transloco}}</button>
    <button mat-raised-button>{{'cancel' | transloco}}</button>
</div>
</form>  
</div>
