<div>
<h2>{{'select-flight.heading' | transloco}}</h2>
<form [formGroup]="formGroup">
    <mat-form-field class="form-field">
        <mat-label>{{'select-flight.from-to' | transloco}}</mat-label>
        <mat-select [formControlName]="ControlName.FromTo">          
          @for (flight of flights; track flight) {
        <mat-option [value]="flight.id">{{flight.fromCity}} -> {{flight.toCity}}</mat-option>
      }
        </mat-select>        
    </mat-form-field>
    <br/>
    <div class="buttons">
    <button mat-raised-button (click)="bookFlight()" [disabled]="formGroup.invalid || formGroup.pristine">{{'book' | transloco}}</button>
    <button mat-raised-button>{{'cancel' | transloco}}</button>
    </div>
</form>
</div>
