<div>
    <h2>{{'book-flight.heading' | transloco }}</h2>
    <div>{{'book-flight.airline' | transloco}}: {{selFlight?.airline}}</div>
    <div>{{'book-flight.flight-number' | transloco}}: {{selFlight?.flightNumber}}</div>
    <div>{{'book-flight.flight-from' | transloco}}: {{selFlight?.fromCity}}</div>
    <div>{{'book-flight.flight-to' | transloco}}: {{selFlight?.toCity}}</div>
    <br/>
    <form [formGroup]="formGroup">
    <mat-form-field class="example-full-width">
        <mat-label>{{'book-flight.choose-date' | transloco}}</mat-label>
        <input matInput [matDatepicker]="picker" [formControlName]="ControlName.Day">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br/>
      <br/>
      <div>
        @for(booking of bookings;track booking) {
            <div>
              <span>{{ 'at' | transloco}}: {{ booking.flightDate | translocoDate: { dateStyle:'short'} }}, </span>
              <span>{{'book-flight.flight-number' | transloco}}: {{selFlight?.flightNumber}}, </span> 
              <span>{{'book-flight.flight-from' | transloco}}: {{selFlight?.fromCity}}, </span> 
              <span>{{'book-flight.flight-to' | transloco}}: {{selFlight?.toCity}}, </span> 
              <span>{{'book-flight.airline' | transloco}}: {{selFlight?.airline}} </span> 
              <button mat-icon-button (click)="deleteBooking(booking)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          }
      </div>
      <br/>
      <div class="buttons">
        <button mat-raised-button (click)="bookFlight()" [disabled]="!selFlight || formGroup.invalid || formGroup.pristine">{{'book' | transloco}}</button>
        <button mat-raised-button (click)="cancel()">{{'cancel' | transloco}}</button>
      </div>
    </form>
</div>